body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #FADADD;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#image-container {
    margin-bottom: 20px;
}

#question {
    font-family: 'Sacramento', cursive;
    font-size: 52px;
}

#question-container.final-message {
    font-size: 14px; /* Adjust as needed */
    text-align: center; /* Keeps it balanced with the GIFs */
}

#options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 26px;
    font-family: 'Sacramento', cursive;
    background-color: #FB607F;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease, background-color 0.3s;
}

button:hover {
    background-color: #ff99cc;
    transform: scale(1.1);
}

#ianhead-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Hidden initially */
    z-index: 9999; /* Ensure it's on top */
}

#ianhead-logo {
    width: 50px; /* Start small */
    height: 67px;
    animation: none;
}

/* Spinning Batman-style animation */
@keyframes spin-grow-shrink {
    0% {
        transform: scale(0.2) rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: scale(7) rotate(360deg);
        opacity: 1;
    }
    100% {
        transform: scale(0.2) rotate(720deg);
        opacity: 0;
    }
}
